@use 'variables' as *;
@use 'primeicons/primeicons.css' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	font-family: Inter, 'Fira Sans', sans-serif;
	font-size: $font-size-default;
}
