$color-white: #fff;
$color-black: #000;
$color-text: #424242;
$color-red: #ff3333;
$color-primary: #ececec;
$color-secondary: #9fd3c7;
$color-third: #385170;
$color-fourth: #142d4c;

$font-size-small: 12px;
$font-size-default: 16px;
